@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
	@apply !bg-primary-500
	 rounded
	 text-white
	 p-1
	 hover:!bg-primary-300
	 transition-colors
	 duration-500
	 flex
	 justify-center
	 items-center
	 gap-2
	 w-[166px]
	 h-[38px]
	 disabled:cursor-not-allowed
	 disabled:opacity-50;
}
