.customContainer {
	max-height: 500px;
	max-width: 100%;
	overflow: auto;
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: arial, sans-serif;
	table-layout: fixed;
	width: 100%;
}

.thead {
	margin: 0;
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 1;
}

.thead tr {
	height: 60px;
	box-shadow: inset 0 -2px 0 #000000;
}

.th {
	padding: 2px 4px;
	text-align: left;
	position: relative;
}

.tbody .tr {
	height: 40px;
}

.td {
	padding: 6px;
}

.tr .td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* .tr:nth-child(even) {
	background-color: #f2f2f2;
} */

.even {
	background-color: #f2f2f2;
	color: #000;
}

.resizer {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 5px;
	background: rgba(0, 0, 0, 0.5);
	cursor: col-resize;
	user-select: none;
	touch-action: none;
}

.resizer.isResizing {
	background: blue;
	opacity: 1;
}

@media (hover: hover) {
	.resizer {
		opacity: 0;
	}

	*:hover > .resizer {
		opacity: 1;
	}
}
